*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    overflow: hidden;
}

header {
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-btn {
    width: 100px;
    height: 5vh;
    margin-bottom: 1em;;
}

main {
    
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(110, 102, 91);

}


#canvas {
    border:  solid;
}






